<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Modify BuddyInfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/buddy}" th:object="${BuddyInfo}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Phone: <input type="text" th:field="*{phone}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>